version: '3.8'

services:
  frontend:
    build:
      context: weather-frontend/weather-front
      dockerfile: Dockerfile
    container_name: weather-frontend
    ports:
      - "5000:5000"  # Exposes Vue app on port 5000
    depends_on:
      - backend
    networks:
      - weather-network

  backend:
    build:
      context: ./weather-backend
      dockerfile: Dockerfile
    container_name: weather-backend
    ports:
      - "8080:8080"  # Exposes Go API on port 8080
    networks:
      - weather-network

networks:
  weather-network:
    driver: bridge
